{% extends 'layouts/base.html' %} {% block content %}
<h1 class="textlog">Bienvenido a Likendin AutoVv8</h1>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
<li>&nbsp;

</li>
</div>{% endblock %}